<head>
    <meta charset="UTF-8">
    <title>Export XML</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    <h3>Select xml file to save users</h3>
    <p>
        <input id="fileToUpload" type="file" name="fileToUpload"><br/>
    </p>
    <p>
        <label for="chunkSize">Chunk size for batch insert:</label>
        <input id="chunkSize" type="number" min="10" max="100" name="chunkSize" value="10"><br/>
    </p>
    <p>
        <input type="submit" value="Save" name="submit">
    </p>
</form>
</body>
</html>